version: '3.8'

services:
  app:
    container_name: diaper-comparator-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3050:3050"
    restart: always
    environment:
      - NODE_ENV=production
      - DB_HOST=192.168.1.140
      - DB_PORT=5432
      - DB_NAME=postgres
      - DB_USERNAME=root
      - DB_PASSWORD=secret
